/* chessboard.css */

.chessBoardContainer{
    width: 688px; 
    height: 688px;
    margin-top:10px;
    margin-left:30px;
}

.chessBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 688px; 
    height: 688px; 

    
}

.pieceImage{
    position:absolute;
    height:80px;
    width:80px;
}
.selectedSquare {
    background-color: rgba(151, 247, 78, 0.819); /* Yellow overlay */
    /* Add any other desired styles for highlighting here */
}


.lastMoveSource {
    background-color:rgba(207, 243, 180, 0.819)
}

.lastMoveDestination {
    background-color:rgba(151, 247, 78, 0.819)
}


/* Add this to your board.css or an appropriate stylesheet */
.validMoveIndicator {
    width: 25px;
    height: 25px;
    background-color: rgb(61, 61, 61);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-popup {
    position: fixed; /* Fixed positioning to ensure the notification is always in the middle of the page */
    top: 52%;        /* Vertical center alignment */
    left: 50%;       /* Horizontal center alignment */
    transform: translate(-50%, -50%); /* Translate to perfect centering */
    
    font-size: 5em;  /* Increase the font size for visibility */
    font-weight: 500;
    color:rgb(0, 0, 0);
    
    /* No background or border */
    background: rgb(254, 253, 253,0.4);
    border: none;

    /* Fade effect */
    opacity: 1;                  /* Start fully visible */
    transition: opacity 3s;     /* 3s transition for fading out */
}

/* Class to hide the notification */
.notification-hidden {
    opacity: 0;  /* Fully transparent (hidden) */
}

